# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
/out-tsc
node_modules
# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
# VuePress default temp directory
docs/.vuepress/.temp
# VuePress default cache directory
docs/.vuepress/cache
# VuePress default build output directory
docs/.vuepress/dist

# System Files
.DS_Store
Thumbs.db

# Nx
.nx
.nx/cache
.nx/workspace-data
